@import 'tailwindcss';

@font-face {
  font-family: 'Lexend';
  src: url('../src/assets/fonts/Lexend-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('../src/assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-lexend: 'Lexend', 'sans-serif';
  --font-archivo: 'Archivo', 'sans-serif';
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  position: relative;
  overflow: hidden;
  font-weight: 400;

  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dotted-background {
  /* 1. Set the background color (uncomment if you want a base color) */
  /* background-color: #ffffff;  */

  /* 2. Define the dot (using your radial gradient) */
  background-image: radial-gradient(
    circle at center,
    #555555b0 1px,
    transparent 0
  );

  /* 3. Define the spacing between dots */
  background-size: 40px 40px;

  /* Optional: Ensures the pattern repeats smoothly */
  background-repeat: repeat;
  background-position: center;
}

.dotted-background-light {
  /* 1. Set the background color (uncomment if you want a base color) */
  /* background-color: #ffffff;  */

  /* 2. Define the dot (using your radial gradient) */
  background-image: radial-gradient(
    circle at center,
    #808080b0 1px,
    transparent 0
  );

  /* 3. Define the spacing between dots */
  background-size: 40px 40px;

  /* Optional: Ensures the pattern repeats smoothly */
  background-repeat: repeat;
  background-position: center;
}

@theme {
}

@theme {
  --animate-drop: drop 0.9s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  --animate-rise: rise 0.8s cubic-bezier(0.36, 0, 0.2, -0.3) forwards;
  --animate-slide-in: slide-in 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) 0.6s
    forwards;
  --animate-slide-out: slide-out 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  --animate-open-edit: open-edit 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  --animate-close-edit: close-edit 0.8s cubic-bezier(0.34, 1.56, 0.64, 1)
    forwards;

  @keyframes open-edit {
    0% {
      width: 0px;
      height: 0px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    20% {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    40% {
      outline: solid 5px black;
      width: 620px;
      height: 420px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    100% {
      outline: solid 5px black;
      width: 620px;
      height: 420px;
      box-shadow: 8px 8px 0px 3px rgba(0, 0, 0, 1);
    }
  }

  @keyframes close-edit {
    0% {
      outline: solid 5px black;
      width: 620px;
      height: 420px;
      box-shadow: 8px 8px 0px 3px rgba(0, 0, 0, 1);
    }
    60% {
      outline: solid 5px black;
      width: 620px;
      height: 420px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    80% {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    100% {
      width: 0px;
      height: 0px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-220%);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(-170%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes drop {
    0% {
      transform: translateY(0) translateX(0);
      width: 32px;
      height: 32px;
      outline: solid 1px black;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    20% {
      transform: translateY(60px) translateX(0);
      width: 32px;
      height: 32px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    40% {
      transform: translateY(60px) translateX(0);
      outline: solid 5px black;
      width: 620px;
      height: 350px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    100% {
      transform: translateY(52px) translateX(-8px);
      outline: solid 5px black;
      width: 620px;
      height: 350px;
      box-shadow: 8px 8px 0px 3px rgba(0, 0, 0, 1);
    }
  }

  @keyframes rise {
    0% {
      transform: translateY(52px) translateX(-8px);
      outline: solid 5px black;
      width: 620px;
      height: 350px;
      box-shadow: 8px 8px 0px 3px rgba(0, 0, 0, 1);
    }
    40% {
      transform: translateY(60px) translateX(0);
      outline: solid 5px black;
      width: 620px;
      height: 350px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    70% {
      transform: translateY(60px) translateX(0);
      width: 32px;
      height: 32px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
    100% {
      transform: translateY(0) translateX(0);
      width: 32px;
      height: 32px;
      outline: solid 1px black;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    }
  }
}

@theme {
  --breakpoint-h-sm: (min-height: 620px);
  --breakpoint-h-md: 765px;
  --breakpoint-h-lg: (min-height: 1000px);
}

/* li > ul > li:nth-child(odd){
  background-color: rgba(223, 223, 223, 0.336);
} */

.stripes > li:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.39);
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.loader {
  width: 120px;
  height: 120px;
  border: 9px solid;
  border-color: #ffffff transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
